/* EXERCÍCIO 1: fontes */
@import "fonts/ravie.css";
@import "fonts/verdana.css";

:root{
  --cor-background: #fff;
  --cor-strong: #d027aa;
  --cor-bggrad1: #f6f1b2;
  --cor-bggrad2: #4599b2;
  --cor-border-out: #d3d3d3;
  --cor-cardapio: rgba(255, 255, 255, 0.2);
  --cor-cardapio-border:#aac0ae;
  --cor-text: #333333;
  --cor-cabecalho:#e90c0c;
}

h1{
  font-family: "Ravie", serif;
}

body {
  background-color: var(--cor-background);
  font-family: "Verdana", sans-serif;
}

strong {
  color: var(--cor-strong);
}

#recipiente {
  background-image: linear-gradient(to bottom, var(--cor-bggrad1), var(--cor-bggrad2) 80%);
  border-left: 1px solid var(--cor-border-out);
  border-right: 1px solid var(--cor-border-out);
}

#cardapio {
  background-color: var(--cor-cardapio);
  border-top: 1px solid var(--cor-cardapio-border);
  border-bottom: 1px solid var(--cor-cardapio-border);
  border-left: 1px solid var(--cor-cardapio-border);
}

#cardapio h3 {
  font-size: 18px;
  color: var(--cor-text);
  margin-top: 30px;
  font-family: "Verdana", "OpenSans", sans-serif;
}

#cardapio article {
  font-size: 14px;
  color: var(--cor-text);
}


/* EXERCÍCIO 2: layout da página */
html, body, #recipiente {
  min-height: 100vh;
}

body{
  margin: 0;
}

#recipiente {
  margin-left:  auto;
  margin-right: auto;
  width: 800px;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 154px 1fr;
  grid-template-areas: 
    "section header"
    "section main"
    "section footer";
}

#cabecalho-pagina {
  grid-area: header;
}

#lateral {
  grid-area: section;
}

#cardapio {
  grid-area: main;
}

#rodape-pagina {
  grid-area: footer;
}



/* EXERCÍCIO 3: cabeçalho da página */
#cabecalho-pagina {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#cabecalho-pagina h1 {
  margin: 0;
  font-size: 36px;
  color: var(--cor-cabecalho);
  font-weight: normal;
  text-align: center;
}

#cabecalho-pagina h2 {
  margin: 0;
  font-size: 24px;
  color: var(--cor-text);
  font-weight: normal;
  text-align: right;
}

/* EXERCÍCIO 4: cada item do menu */
#cardapio {
  padding-left: 20px;
  padding-right: 20px;
}

article {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
}


/* EXERCÍCIO 5: o rodapé */
#rodape-pagina {
  display: flex;
  justify-content: flex-end;
  padding-top: 46px;
  padding-right: 15px;
  padding-bottom: 25px;
}

/* EXERCÍCIO 6: lateral */
#lateral {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* EXERCÍCIO 7: o ticket */
#ticket {
  position: fixed;
  left: -89px;
  top: calc(50% - 84px/2);
  transition: left 100ms ease-out;
}

#ticket:hover {
  left: 0;
}


/* EXERCÍCIO 8: deslocamento no siri e peixe */
#siri {
  position: relative;
  top: 17px;
  left: -10px;
}

#peixe {
  position: relative;
  left: -44px;
}

/* EXERCÍCIO 9: bolhas - no HTML e no JS */
/* --- */


/* EXERCÍCIO 10: modo escuro */
/* Inspecionar -> Ctrl + Shift + P -> Digitar "Show rendering" -> Emulate CSS media prefers-color-scheme*/
@media (prefers-color-scheme: dark) {
  :root{
    --cor-background: #000;
    --cor-strong: #9c1f81;
    --cor-bggrad1: #00143f;
    --cor-bggrad2: #122931;
    --cor-border-out: #808080;
    --cor-cardapio: rgba(133, 133, 133, 0.2);
    --cor-cardapio-border:#809183;
    --cor-text: rgb(238, 238, 238);
    --cor-cabecalho:#ac0909;
  }
}

